body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container{
  border: 2px solid black;
  border-radius: 8px;
  padding: 20px;
  background-color: #f5f0e1;

}
.grid{
  display: grid;
  height: 250px;
  width: 350px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 4px;
}
.header{
  border: 2px solid #1e3d59;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 5px;
  color: #1e3d59;
  font-size: 23px;
  height: 60px;
  
}
.display{
display: flex;
gap: 8px;
justify-content: flex-end;
align-items: center;

}
.middle{
display: flex;
gap: 5px;
justify-content: center;
margin-bottom: 10px;
margin-top: 10px;
}
button{
border-radius: 10px;
outline: none;
border: 2px solid #ff6e40;
font-size: 18px;
padding: 6px 13px;
}
button:hover{
background-color: #ffc13b;
transform: scale(1.1);
border-color: #ffc600;
box-shadow: 0 0 1rem #ffc600;
}